<launch>
    <!-- PS4 Controller ROS Driver -->
    <node pkg="ds4_driver" type="ds4_twist_node.py" name="ds4_twist" output="screen" >
        <rosparam command="load" file="$(find rr_openrover_driver)/config/ps4_controller_config.yaml" />
        <param name="stamped" value="false" />
    </node>
</launch>